/*  ==========================================================================
    Mixins
    ========================================================================== */

    /*  Transition
        ========================================================================== */
        @mixin transition($parameters...) {
            -webkit-transition: $parameters;
               -moz-transition: $parameters;
                 -o-transition: $parameters;
                -ms-transition: $parameters;
                    transition: $parameters;
        }

    /*  Opacity w/ IE value
        ========================================================================== */
        @mixin opacity($value) {
            opacity: $value;
            filter: alpha(opacity=$value * 100);
        }


    /*  Box sizing
        ========================================================================== */
        @mixin box-sizing() {
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                    box-sizing: border-box;
        }

    /*  Border radius
        ========================================================================== */
        @mixin border-radius($radius) {
            -webkit-border-radius: $radius;
               -moz-border-radius: $radius;
                    border-radius: $radius;
        }

    /*  Box shadow
        ========================================================================== */
        @mixin box-shadow($parameters...) {
            -webkit-box-shadow: $parameters;
                    box-shadow: $parameters;
        }

    /*  Clearfix
        ========================================================================== */
        @mixin clearfix() {
            .ie7 & { zoom:1 }

            &:before,
            &:after {
                content:"";
                display:table;
            }
            &:after {
                clear:both;
            }
        }

    /*  Animation
        ========================================================================== */
        @mixin animation($parameters...) {
            -webkit-animation: $parameters;
               -moz-animation: $parameters;
                 -o-animation: $parameters;
                    animation: $parameters;
        }

        @mixin keyframes($animationName) {
            @-webkit-keyframes #{$animationName} {
                $browser: '-webkit-' !global;
                @content;
            }

            @-moz-keyframes #{$animationName} {
                $browser: '-moz-' !global;
                @content;
            }

            @-o-keyframes #{$animationName} {
                $browser: '-o-' !global;
                @content;
            }

            @keyframes #{$animationName} {
                $browser: '' !global;
                @content;
            }

        } $browser: null;

        @mixin perspective($value) {
            -webkit-perspective: $value;
               -moz-perspective: $value;
                -ms-perspective: $value;
                 -o-perspective: $value;
                    perspective: $value;
        }

    /*  Transform
        ========================================================================== */
        @mixin transform($parameters) {
            -webkit-transform: $parameters;
               -moz-transform: $parameters;
                 -o-transform: $parameters;
                -ms-transform: $parameters;
                    transform: $parameters;
        }

        @mixin origin($valueX, $valueY) {
            -webkit-transform-origin: $valueX $valueY;
               -moz-transform-origin: $valueX $valueY;
                 -o-transform-origin: $valueX $valueY;
                -ms-transform-origin: $valueX $valueY;
                    transform-origin: $valueX $valueY;
        }

    /*  Background-size
        ========================================================================== */
        @mixin background-size($value) {
            -webkit-background-size: $value;
               -moz-background-size: $value;
                 -o-background-size: $value;
                    background-size: $value;
        }

    /*  Gradients
        ========================================================================== */

        /*  Vertical gradient
            ========================================================================== */
            @mixin simple-vertical-gradient($startColor, $endColor) {
                background-color: $startColor;
                background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
                background: -webkit-linear-gradient(top, $startColor, $endColor);
                background:    -moz-linear-gradient(top, $startColor, $endColor);
                background:     -ms-linear-gradient(top, $startColor, $endColor);
                background:      -o-linear-gradient(top, $startColor, $endColor);
                background:         linear-gradient(to bottom, $startColor, $endColor);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
            }

            @mixin vertical-gradient($bgColor, $colors...) {
                background: -webkit-linear-gradient(top, $colors) $bgColor;
                background:    -moz-linear-gradient(top, $colors) $bgColor;
                background:      -o-linear-gradient(top, $colors) $bgColor;
                background:     -ms-linear-gradient(top, $colors) $bgColor;
                background:         linear-gradient(to bottom, $colors) $bgColor;
            }

        /*  Horizontal Gradient
            ========================================================================== */
            @mixin simple-horizontal-gradient($startColor, $endColor) {
                background-color: $startColor;
                background: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
                background: -webkit-linear-gradient(left, $startColor, $endColor);
                background:    -moz-linear-gradient(left, $startColor, $endColor);
                background:     -ms-linear-gradient(left, $startColor, $endColor);
                background:      -o-linear-gradient(left, $startColor, $endColor);
                background:         linear-gradient(to right, $startColor, $endColor);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
            }

            @mixin horizontal-gradient($bgColor, $colors...) {
                background: -webkit-linear-gradient(left, $colors) $bgColor;
                background:    -moz-linear-gradient(left, $colors) $bgColor;
                background:      -o-linear-gradient(left, $colors) $bgColor;
                background:     -ms-linear-gradient(left, $colors) $bgColor;
                background:         linear-gradient(to right, $colors) $bgColor;
            }

    /*  Columns
        ========================================================================== */
        @mixin column($count, $gap, $line:'') {
            -webkit-column-count: $count;
               -moz-column-count: $count;
                    column-count: $count;

            -webkit-column-gap: $gap;
               -moz-column-gap: $gap;
                    column-gap: $gap;

            @if $line != '' {
            -webkit-column-rule: $line;
               -moz-column-rule: $line;
                    column-rule: $line;
            }
        }

    /*  Full (horizontal and vertical) center-align a absolute element
        ========================================================================== */

        @mixin center-v() {
          position: absolute;
          top: 50%;
          @include transform(translate(-50%, 0));
        }

        @mixin center-h() {
          position: absolute;
          left: 50%;
          @include transform(translate(0, -50%));
        }

        @mixin center-full() {
          position: absolute;
          top: 50%; left: 50%;
          @include transform(translate(-50%, -50%));
        }
