/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  ==========================================================================
        Grid
        ========================================================================== */
        $breakpoint: 768px; // Breakpoint for small devices
        $max-width:  768px;
        $space:      25px; // Vertical space

    /*  ==========================================================================
        Colors
        ========================================================================== */
        $green: #0ba14b;
        $yellow: #ffde16;
        $blue: #20409a;
        $gray: #231f20;
        $gray-light: #ccc;
        $gray-white: #f5f5f5;

        $color-default:     #555;
        $color-primary:     $green;
        $color-secondary:   $yellow;
        $color-terciary:    $blue;
