/*  ==========================================================================
    Main
    ========================================================================== */

    @media only screen {

      .main {
        text-align: center;
        position: relative;
        z-index: 2;
      }

    }
