/*  ==========================================================================
    Speakers List
    ========================================================================== */

    @media only screen {

        .speaker-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .speaker-item {
            overflow: hidden;
            margin-bottom: 20px;
        }

        .speaker-thumb {
            max-width: 125px;
            float: left;
            margin-right: 10px;
        }

        .speaker-item p,
        .speaker-item .title,
        .speaker-link { text-align: left; }

        .speaker-item p { margin: 0; }
        .speaker-item p,
        .speaker-link {
            font-size: 18px;
            line-height: 1.4;
        }
        .speaker-name { margin-bottom: 5px; }
        .speaker-twitter { font-size: 16px; }

        .speaker-item .icon-twitter {
            vertical-align: middle;
            color: rgba(0,0,0,.2);
        }

        .speaker-thumb {
            display: inline-block;
            position: relative;
        }

        .speaker-thumb img { display: block; }

        .speaker-thumb:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            border: solid 7px $green;
            @include box-sizing();
        }

        .speaker-thumb,
        .speaker-thumb:before { @include transition(all .25s ease); }

        .speaker-thumb:hover:before { opacity: 1; }

    }

    @media only screen and (min-width: $breakpoint) {

        .speaker-list { overflow: hidden; }

        .speaker-item {
            float: left;
            width: 50%;
            padding: 10px;
        }

    }
