/*  ==========================================================================
Typography
========================================================================== */

/*  Font face
    ========================================================================== */
    @font-face {
        font-family: 'gabriolaregular';
        src: url('../fonts/gabriola/gabriola-webfont.eot');
        src: url('../fonts/gabriola/gabriola-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gabriola/gabriola-webfont.woff2') format('woff2'),
        url('../fonts/gabriola/gabriola-webfont.woff') format('woff'),
        url('../fonts/gabriola/gabriola-webfont.ttf') format('truetype'),
        url('../fonts/gabriola/gabriola-webfont.svg#gabriolaregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'calgary_script_otregular';
        src: url('../fonts/calgary/calgary_script-webfont.eot');
        src: url('../fonts/calgary/calgary_script-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/calgary/calgary_script-webfont.woff2') format('woff2'),
        url('../fonts/calgary/calgary_script-webfont.woff') format('woff'),
        url('../fonts/calgary/calgary_script-webfont.ttf') format('truetype'),
        url('../fonts/calgary/calgary_script-webfont.svg#calgary_script_otregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/G2uphNnNqGFMHLRsO_72ngLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
    }



@media only screen {

    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust:none;
        font-family: 'Lato';
        font-size: 16px;
    }

/*  Titles
    ========================================================================== */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {}

    .title {
        margin: 0 0 20px;
        font-size: 28px;
    }

    .title small {
        font-size: 50%;
        padding-top: 5px;
    }

    .title-small { font-size: 24px; }

    .title-inner-shadow {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 900;
        color: rgba(0,0,0,0.3);
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    }

    .title-shadow { text-shadow: 1px 1px 0 rgba(0,0,0,.5); }
    .title-section { text-transform: uppercase; }

    .title-section:before,
    .title-section:after {
        content: "\25A0";
        color: inherit;
        padding: 0 3px;
        position: relative;
        top: -7px;
        font-size: 50%;
    }

/*  Texts
    ========================================================================== */
    p {
        color: $color-default;
        font-size: 24px;
        line-height: 34px;
        margin: 0 0 20px;
        text-align: center;
    }

    .small { font-size: 18px; }

    .lead {
        font-size: 28px;
        font-family: 'gabriolaregular';
    }
    .text-yellow { color: $yellow; }

    .text-email { font-size: 16px; }


/*  Links
    ========================================================================== */
    a {
        color: $green;
        text-decoration: none;
    }

    a:hover { text-decoration: underline; }

}


/*
* CSS for devices with resolution bigger than breakpoint
*/

@media only screen and (min-width: $breakpoint) {
    .title { font-size: 36px; }
    .text-email { font-size: inherit; }
}
